.servicios{
    max-width: 1280px;
    margin: auto;
    height: 90vh;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    gap: 10px;
}

.servicios .MuiBox-root svg{
    position: relative;
    width: 100%;
    height: 100%;
}

.video_gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}

.video_gallery .thumbnail_container{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}


.video_gallery .thumbnail_container h3{
    color: white;
    font-size: 15px;
}

.video_gallery .thumbnail_container .video_container{
    width: 300px;
    height: 200px;
    background-color: gray;
}

.servicios .video_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios video{
    width: 80%;
}

.servicios .video_description{
    width: 80%;
    text-align: center;
}

.servicios .video_content .video_description h3{
    color: #ff66c4;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 800;
}

.servicios .video_content .video_description p{
    color: #ffffff;
}

.servicios .titulo-vertical {
    display: inline-flex;
    flex-direction: column;
} 



