.gallery_mix{
    display: flex;
    align-items: center;
}

.gallery_images1{
    max-width: 1500px;
    margin: auto;
    height: 100vh;
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.gallery_title{
    grid-column: 2;
    font-size: 55px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.gallery_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.group_wrapper{
    display: flex;
    gap: 15px;
}

.gallery_images1 .gallery-item{
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery_images2{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.gallery_images2 .gallery_wrapper2{
    display: flex;
    height: 100%;
    width: 100%;
}

.gallery_wrapper2 img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .7;
    transition: .5s ease;
}

.gallery_wrapper2 img:hover{
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}

.gallery_interactions{
    position: absolute;
    z-index: 999;
    left: 10px;
}

.gallery_interactions2{
    position: absolute;
    right: 10px;
}

.gallery_mix button{
    background: linear-gradient(to right, rgb(0, 74, 173), rgb(203, 108, 230));
    color: white;
    font-weight: 500;
    padding: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s
}

.gallery_mix button:hover{
    color: black;
    transform: scale(1.05);
}

@media only screen and (max-width: 1800px) {
    .group_wrapper .gallery-item{
        width: 350px;
        height: auto;
    }

    .gallery_mix button{
        padding: 10px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.3s
    }

    .gallery_mix button:hover{
        color: white;
        transform: none;
    }
  }