.servicios{
    max-width: 1650px;
    margin: auto;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.servicios .container_reproducer{
    width: 90%;
}

.servicios .container_photos{
    width: 90%;
}

.video_gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    width: 100%;
    height: 80vh;
}

.video_gallery .thumbnail_container{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}


.video_gallery .thumbnail_container h3{
    color: white;
    font-size: 15px;
}

.video_gallery .thumbnail_container .video_container{
    width: 400px;
    height: 200px;
    cursor: pointer;
}

.thumbnail_container .video_container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video_gallery .thumbnail_container .img_container{
    width: 400px;
    height: 200px;
    cursor: pointer;
}

.image_gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    width: 100%;
    height: 80vh;
}

.image_gallery .thumbnail_container{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}


.image_gallery .thumbnail_container h3{
    color: white;
    font-size: 15px;
}

.image_gallery .thumbnail_container .image_container{
    width: 400px;
    height: 200px;
    cursor: pointer;
}

.image_container img{
    width: 100%;
    height: 100%;
}

.thumbnail_container .image_container image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image_gallery .thumbnail_container .img_container{
    width: 400px;
    height: 200px;
    cursor: pointer;
}

.thumbnail_container .img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.servicios .video_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.servicios video{
    width: 80%;
}

.servicios .video_description{
    width: 80%;
    text-align: center;
}

.servicios .video_content .video_description h3{
    color: #ff66c4;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 800;
}

.servicios .video_content .video_description p{
    color: #ffffff;
}

.servicios .menu_lateral{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.menu_lateral a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.menu_lateral ul{
    height: 100%;
}

ul li{
    list-style-type: none;
}

.menu_lateral svg{
    width: 50px;
    height: 50px;
}

.contenedor-menu_servicios{
    display: flex;
    width: 10%;
}
.contenedor-menu_servicios span{
    width: 80%;
}

.video-only {
    position: relative;
    display: inline-block;
}
  
video {
    display: block;
    width: 100%;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
.video-only:hover .overlay {
    opacity: 1;
}
  
.play-icon {
    pointer-events: none;
}

.video-title{
    color: white;
    margin-top: 0;
    padding-top: 0;
    font-weight: 600;
}

.close-video{
    background: linear-gradient(to right, #004aad, #cb6ce6);
    color: #ffffff;
    padding: 13px 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
}

.close-video:hover{
    color: black;
}