.servicios{
    max-width: 1650px;
    margin: auto;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.video_gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    width: 80%;
}

.video_gallery .thumbnail_container{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}


.video_gallery .thumbnail_container h3{
    color: white;
    font-size: 15px;
}

.video_gallery .thumbnail_container .video_container{
    width: 400px;
    height: 200px;
    background-color: gray;
}

.servicios .video_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios video{
    width: 80%;
}

.servicios .video_description{
    width: 80%;
    text-align: center;
}

.servicios .video_content .video_description h3{
    color: #ff66c4;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 800;
}

.servicios .video_content .video_description p{
    color: #ffffff;
}

.servicios .titulo-vertical {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 55px;
    text-align: center;
    width: 10%;
    height: 100%;
} 

.servicios .menu_lateral{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.menu_lateral a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.menu_lateral ul{
    height: 100%;
}

ul li{
    list-style-type: none;
}

.menu_lateral svg{
    width: 50px;
    height: 50px;
}

.contenedor-menu_servicios{
    display: flex;
    width: 10%;
}
.contenedor-menu_servicios span{
    width: 80%;
}

.activations{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 100%;
}

.activations .img_group{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.activations .short_img{
    height: 45%;
    width: 80%;
    text-align: center;
}

.activations .img_group .imagen1,.activations .img_group .imagen2{
    height: 100%;
    width: 100%;
    background-color: gray;
}

.activations .large_img{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activations h4{
    color: #ffffff;
}

.activations .imagen3{
    height: 90%;
    width: 80%;
    background-color: gray;
}

.furniture{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    height: 100%;
    gap: 5px;
}

.furniture .img_group{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.furniture .img_group .short_img{
    height: 49.5%;
    width: 90%;
    background-color: gray;
}

.furniture .large_img{
    height: 90%;
    width: 80%;
    background-color: gray;
}

