.inicio {
  max-width: 1650px;
  margin: auto;
  display: flex;
  width: 100% !important;
  flex-direction: row;
  align-items: center;
  min-height: 90vh;
  justify-content: space-around;
}
@media (max-width: 1250px) {
  .inicio {
    max-width: 1000px;
  }
}

.text_inicio {
  width: 40%;
  margin-left: 50px;
}

.text_inicio h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
}

.text_inicio h3 {
  font-size: 35px;
  font-weight: lighter;
  color: white;
}

.text_inicio p {
  font-size: 20px;
  color: white;
}

.text_inicio button {
  background: linear-gradient(to right, rgb(0, 74, 173), rgb(203, 108, 230));
  color: #000000;
  font-weight: 800;
  padding: 15px;
  margin-top: 50px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 60%;
}

.contenedor-menu {
  position:relative;
  bottom: 50px;
}

.MuiBottomNavigation-root {
  display: flex;
  flex-direction: column;
  width: 50px;
  gap: 20px;
}

.css-imwso6-MuiBottomNavigationAction-label {
  font-family: "Montserrat", sans-serif !important;
}

.css-16lloyr-MuiBottomNavigation-root {
  background-color: transparent !important;
}

.MuiSvgIcon-root {
  color: white;
}

.MuiBottomNavigationAction-label {
  color: white;
  font-weight: 700;
}

.css-qxh7fn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.contenedor-menu svg{
  width: 80%;
  height: 80%;
}
