.inicio {
  max-width: 1650px;
  margin: auto;
  display: flex;
  width: 100% !important;
  flex-direction: row;
  align-items: center;
  min-height: 90vh;
  justify-content: space-around;
}
@media (max-width: 1250px) {
  .inicio {
    max-width: 1000px;
  }
}

.text_inicio {
  width: 90%;
  margin-left: 50px;
}

.text_inicio h1 {
  font-family: 'Montserrat';
  font-size: 70px;
  font-weight: 100;
  color: white;
}

.text_inicio p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  width: 45%;
}

.text_inicio button {
  background: linear-gradient(to right, rgb(0, 74, 173), rgb(203, 108, 230));
  color: #000000;
  font-weight: 800;
  padding: 15px;
  margin-top: 50px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 30%;
}

.text_inicio{
  display: flex;
  flex-direction: column;
}

.contenedor-menu{
  display: flex;
  width: 10%;
}
.contenedor-menu span{
  width: 80%;
}

