.servicios_principal{
    width: 90%;
    height: 85vh;
    display: flex;
    align-items: center;
}

.servicios_principal .banner_servicios{
    height: 100%;
    width: 60%;
}

.banner_servicios img{
    width: 100%;
    position: absolute;
    left: -150px;
    top: 100px;
    width: 90%;
}

.servicios_principal .text_servicios{
    color: white;
    text-align: center;
    height: 60%;
}
.text_servicios h1{
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 60px;
}

.text_servicios p{
    font-family: 'Montserrat';
    font-size: 20px;
}