.slider{
    background: linear-gradient(to bottom, #000000, #8786f4) !important;
}

.video-container {
    width: 100%;
    height: 85vh;
    position: relative;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 85vh;
    object-fit: cover; /* Ajusta el video para llenar el contenedor */
}

.carousel-caption {
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption .text{
    position: absolute;
    bottom: 200px;
    width: 50%;
}

.carousel-caption .text h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: #EEFB03;
}

.carousel-caption .text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.menu_carousel{
    display: flex;
    height: 15vh;
    justify-content: center;
}

.menu_carousel ul{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.menu_carousel ul li{
    width: 80px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #ffffff;
}

.menu_carousel ul li a{
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.menu_carousel ul li a svg{
    width: 80%;
    height: 80%;
    fill: #ffffff;
}

.menu_carousel ul li a{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.seleccionado{
    color: #EEFB03 !important;
}

.seleccionado svg g path{
    fill: #EEFB03 !important;
}